.carousel-grid {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 50px 1fr 50px;
  grid-gap: 24px;
  font-family: "Source Sans Pro", sans-serif;

  .previous {
    width: 50px;
    height: 50px;
    align-self: center;
    background-image: url('../assets/chevron-circle-left.svg');
    background-size: cover;
  }

  .content {
    width: 768px;
  }

  .next {
    width: 50px;
    height: 50px;
    align-self: center;
    background-image: url('../assets/chevron-circle-right.svg');
    background-size: cover;
  }
}