body {
  margin: 0;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 20% 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.hidden {
  display: none;
}

// Animations
@keyframes fadein-immediate {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadein-delay {
  0% { opacity:0; }
  33% { opacity:0; }
  100% { opacity:1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein-immediate {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-moz-keyframes fadein-delay {
  0% { opacity:0; }
  33% { opacity:0; }
  100% { opacity:1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-immediate {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-webkit-keyframes fadein-delay {
  0% { opacity:0; }
  33% { opacity:0; }
  100% { opacity:1; }
}

/* Internet Explorer */
@-ms-keyframes fadein-immediate {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@-ms-keyframes fadein-delay {
  0% { opacity:0; }
  33% { opacity:0; }
  100% { opacity:1; }
}

@mixin animation($type, $duration) {
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
      -ms-animation-fill-mode: both;
       -o-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation: $type $duration; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: $type $duration; /* Firefox < 16 */
      -ms-animation: $type $duration; /* Internet Explorer */
       -o-animation: $type $duration; /* Opera < 12.1 */
          animation: $type $duration;
}

/*  Generic   */
.hello {
  @include animation(fadein-immediate, 2s);
  img {
    vertical-align: middle;
    margin: 0 8px 0 8px;
  }
}

.desc {
  @include animation(fadein-delay, 4s);
  img {
    vertical-align: middle;
    margin: 0 8px 0 8px;
  }
}

/*  Projects  */

.projectBox {
  @include animation(fadein-immediate, 2s);
  justify-self: center;
  align-self: center;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(116, 116, 116, 0.3);
  padding: 12px;
  margin: 10px auto 0 auto;
  border-radius:16px;
  max-width: 640px;

  h3 {
    margin: 0;
    font-size: 24px;
  }
  .subtext {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
  }
  .description {
    margin-top: 7px;
    font-size: 12px;
    margin-bottom: 2px;
  }
  .techList {
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 14px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }

  .description2 {
    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 2px;;
  }

  .techList2 {
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 12px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

/*  Education  */
.educationBox {
  @include animation(fadein-immediate, 2s);
  justify-self: center;
  align-self: center;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(116, 116, 116, 0.3);
  padding: 12px;
  margin: 10px auto 0 auto;
  border-radius:16px;
  max-width: 640px;

  h3 {
    margin: 0;
    font-size: 24px;
  }
  .subtext {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 14px;
  }
  .description {
    margin-top: 7px;
    font-size: 12px;
    margin-bottom: 2px;
  }
  .courseList {
    margin-top: 7px;
    margin-bottom: 0px;
    padding-left: 20px;
    font-size: 14px;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
}

/*  Experience  */
.experienceBox {
  @include animation(fadein-immediate, 2s);
  justify-self: center;
  align-self: center;
  border: 1px solid rgba(255,255,255,0.4);
  background: rgba(116, 116, 116, 0.3);
  padding: 12px;
  margin: 10px;
  border-radius:16px;
  max-width: 640px;

  h3 {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  .description {
    margin-top: 7px;
    font-size: 14px;
    margin-bottom: 2px;
  }
}

.contactImage {
  @include animation(fadein-immediate, 2s);
  justify-self: center;
  align-self: end;
  margin:0;
  border-radius:16px;
  max-width: 640px;
  border-radius: 16px;
}

.contactText {
  @include animation(fadein-delay, 4s);
  font-size: 16px;
  align-self: start;
  justify-self: center;
  a {
    text-decoration: none;
    color: rgb(32, 240, 255)
  }
}

// Desktop/Tablet
@media (min-width: 970px) {
  .grid {
    background-color: rgba(0, 0, 0, 0.6);
    grid-template-rows: 60px;
    grid-auto-rows: auto;
    min-height: 100vh;
    color: #fff;
  }
  
  .headerGrid {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto auto auto auto auto auto auto auto auto 1fr;
  }
  
  .buttonStyle {
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 7px 10px 7px 10px;
    text-decoration: none;
    color: #fff;
    margin: 0 8px 0 8px;
    min-width: 118px;
    text-align: center;
  }
  
  .hello {
    font-size: 45px;
    justify-self: center;
    align-self: end;
    margin:0;
  }
  
  .desc {
    font-size: 16px;
    align-self: start;
    justify-self: center;
  }  
}

// Tablets
@media (max-width: 970px) and (min-width: 493px) {
  .grid {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    grid-template-rows: 130px;
    grid-auto-rows: auto;
    min-height: 100vh;
    color: #fff;
  }
  
  .headerGrid {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
  }
  
  .buttonStyle {
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 7px 10px 7px 10px;
    margin: 0 8px 0 8px;
    text-decoration: none;
    color: #fff;
    margin: 10px 8px 10px 8px;
    min-width: 118px;
    text-align: center;
    place-self: center;
  }
  
  .hello {
    font-size: 45px;
    justify-self: center;
    align-self: end;
    margin:0;
  }
  
  .desc {
    font-size: 16px;
    align-self: start;
    justify-self: center;
  }
}

// Phones
@media (max-width: 492px) {
  .grid {
    display: grid;
    background-color: rgba(0, 0, 0, 0.6);
    grid-template-rows: 60px;
    grid-auto-rows: auto;
    min-height: 100vh;
    color: #fff;
  }
  
  .headerGrid {
    display: none;
    grid-template-columns: 1fr auto auto auto 1fr;
  }
  
  .buttonStyle {
    border: 2px solid #fff;
    border-radius: 16px;
    padding: 7px 10px 7px 10px;
    margin: 0 8px 0 8px;
    text-decoration: none;
    color: #fff;
    margin: 10px 8px 10px 8px;
    min-width: 118px;
    text-align: center;
    place-self: center;
  }
  
  .hello {
    font-size: 45px;
    justify-self: center;
    align-self: end;
    margin:0;
  }
  
  .desc {
    font-size: 16px;
    align-self: start;
    justify-self: center;
  }

  .projectBox {
  
    h3 {
      
    }
    .subtext {
      
    }
    .description {
      
    }
    .techList {
      columns: 1 !important;
      -webkit-columns: 1 !important;
      -moz-columns: 1 !important;
    }

    .techList2 {
      columns: 1 !important;
      -webkit-columns: 1 !important;
      -moz-columns: 1 !important;
    }
  }
}